.nav {
    display: flex;
    flex-direction: column;
}

.nav1 {
    text-align: center;
    background-color: whitesmoke;
    font-size: 180%;
    font-family: 'Nanum Pen Script', cursive;
}

button {
    margin-bottom: 5px;
}

.nav2 {
    text-align: center;
    background-color: #4b5f65;
    font-size: 180%;
    font-family: 'Nanum Pen Script', cursive;
}

.city {
}

.m {
    width: 30%;
}

.map {
    width: 100%;
}

iframe {
    width: 40vw;
    height: 50vh
}

#index_text {
    margin-left: 15%;
}

.index_title{
    font-size:36px;
}
.index_content{
    font-size:20px;
}

@media (max-width: 800px) {
    iframe {
        width: 80vw;
        height: 40vh;
    }

    #index_text {
        margin-left: 15%;
    }

    .index_title{
        font-size:24px;
    }
    .index_content{
        font-size:16px;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .nav1 {
        width: 100%;
    }

    .nav2 {
        width: 100%;
    }

    .m {
        width: 100%;
    }
}