{% extends "../base.html" %}
{% load static i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home5.css' %}"/>

{% endblock css %}
{% block content %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <td class="table-dark text-center">지역명</td>
                    <td>{{ city }}</td>
                </tr>
                <tr>
                    <td class="table-dark text-center">시작일자</td>
                    <td>{{ start_date }}</td>
                </tr>
                <tr>
                    <td class="table-dark text-center">주요 사항</td>
                    <td>{{ text }}</td>
                </tr>
                <tr>
                    <td class="table-dark text-center">요금</td>
                    <td>{{ wage }}</td>
                </tr>
                {% ifnotequal etc null %}
                    <tr>
                        <td class="table-dark text-center">기타</td>
                        <td>{{ etc }}</td>
                    </tr>
                {% endifnotequal %}
            </table>
        </div>




    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
