{% extends "../base.html" %}
{% load static i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home4.css' %}"/>
{% endblock css %}
{% block content %}
    <div class="search">
      <span class="search1">


        <form action="{% url 'analysis:pre_eco' %}" accept-charset="utf-8" name="city_info" method="POST">
            {% csrf_token %}
                    <input
                            class="form-control"
                            id="output1"
                            placeholder="인원 수 예측"
                            style="align-items:center"
                    ></input>
          <fieldset>
            <select name="city" class="form-control" style="border:black 3px solid; width:420px;">
              <optgroup label="원하는 지역을 선택해주세요">
                <option value="gochang">고창군</option>
                <option value="gunsan">군산시</option>
                <option value="gimje">김제시</option>
                <option value="namwon">남원시</option>
                <option value="muju">무주군</option>
                <option value="buan">부안군</option>
                <option value="sunchang">순창군</option>
                <option value="wanju">완주군</option>
                <option value="iksan">익산시</option>
                <option value="imsil">임실군</option>
                <option value="jangsu">장수군</option>
                <option value="jeonju">전주시</option>
                <option value="jeongeup">정읍시</option>
                <option value="jinan">진안군</option>
              </optgroup>
            </select>
            <input
                    class="btn btn-dark"
                    type="submit"
                    value="검색"
                    style="width:420px;"
            />
          </fieldset>
        </form>
      </span>
    </div>

    <nav class="nav">
        <span class="nav1"><a style="color:black;">HappyRide</a></span>
        <span class="nav2"><a href="{% url 'analysis:pre_user' %}" style="color:black;">인원 수 예측</a></span>
        <span class="nav3"><a href="{% url 'analysis:pre_eco' %}" style="color:white;">경제성 파악</a></span>
    </nav>
{% endblock %}
{% block javascript %}
    {{ block.super }}
{% endblock javascript %}