{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>행복택시 정책개선 프로젝트, HappyRide</title>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
        <link rel="icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
    {% endblock css %}
</head>
<body>
{% block navbar %}
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1><b>Happy Ride</b></h1>
        <p>전북 지역의 행복택시 운행을 위한 행복한 제안</p>
    </div>
    <div class="nav_wrapper sticky-top" style="margin-bottom:50px; text-align: center; word-spacing: 100px;">
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>
                    <a href="{% url 'analysis:select_loc' %}">현황</a>
                </li>
                <li>
                    <a href="#">수요예측</a>
                    <ul>
                        <li>
                            <a href="{% url 'analysis:pre_user' %}" style="word-spacing: 0;">step1. 인원 수 예측</a>
                        </li>
                        <li>
                            <a href="{% url 'analysis:pre_eco' %}" style="word-spacing: 0;">step2. 경제성 파악</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
{% endblock navbar %}
{% block content %}

{% endblock content %}


{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
{% endblock javascript %}
</body>
</html>