{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    {{ block.super }}
{% endblock css %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">인덱스 페이지입니다.</h1>
        <p class="lead">
            행복택시 서비스 개선을 위한 정책방안 모델링
        </p>
        <hr class="my-4">
        <p>행복택시 수요지수 파악 및 개선을 위해 진행되는 프로젝트 페이지입니다.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">더 알아보기</a>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
{% endblock javascript %}