{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home2.css' %}"/>
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="video col-sm-12 col-md-6">
            <iframe
                    style=" margin-left:10%; display:block;"
                    src="https://www.youtube.com/embed/eeSfEHeXcj8"
            ></iframe>
        </div>
        <div class="col text-center">
            <div class="row">
                <div id="index_text" style="margin-top:100px;">
                    <div style="font-size:30px;">
                        <img src="{% static 'image/taxi_icon.png' %}" style="width:50px;">행복택시란?
                    </div>
                    <div>시내버스 정류장이 평균 1km이상</div>
                    <div>떨어진 교통소외지역에 거주하는 주민들에게</div>
                    <div>
                        이동권을 보장하기위해 이동수단을 제공하는 정책입니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
{% endblock javascript %}